.navbar {
  width: 100%;
  background-color: #b80505;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo h2 {
  margin: 0;
  color: #fff;
}

.navbar-links a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.left-links {
  display: flex;
}

.logout-link {
  color: white;
  text-decoration: none;
}

.logout-link:hover,
.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-links a:hover {
  text-decoration: underline;
}
